doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#000000")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="description" content="Web site created using create-react-app")

        link(rel="apple-touch-icon" href="/brand/logo192.png")
        link(rel="icon" href="/brand/logo.ico")
        link(rel="manifest" href="/manifest.json")

        meta(name="author" content="Elle 'booellean' Pope")
        meta(name="description" content="Elle Pope Tech: My personal site showing off my technical achievements.")

        if locals.page
            meta(property="og:title" content=`${locals.initialData['title']}`)
            meta(property="og:image" content=(locals.initialData.cover_image ? `${locals.initialData.cover_image}` : `${locals.url}/logo512.png`))
            meta(property="og:description" content=`${locals.initialData.description}`)
            meta(property="og:url" content=`${locals.url}`)

        link(rel="stylesheet" type="text/css" href="/css/styles.min.css")
        title #{locals.title} 
    body
        noscript You need to enable JavaScript to run this app. Sorry!
        div(id="root")

        if locals.initialData
            script.
                window.initialData = !{JSON.stringify(initialData)};
        if locals.page
            script.
                window.page = !{JSON.stringify(page)};

        script(src="/client/bundle.js")

